{% extends 'base.html' %}

{% block content %}

<!-- hero -->
<div class="container-fluid" id="hero">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/3756772/pexels-photo-3756772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="d-block mx-lg-auto img-fluid rounded" style="max-width: 80% " alt="Bootstrap Themes" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Thank you for your story!</h1>
            <p class="lead">Once approved it will appear on our stories page!</p>
            <p><a href="/">Return Home</a></p>
        </div>
    </div>
</div>

{% endblock %}