@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #272343;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 150%;
    text-align: center;
    margin: 50px 24%;
}

h4 {
    font-size: 130%;
    text-align: left;
}

/* header */

.logo {
    height: 85px;
    padding: 5px;
}

#header {
    background-color: #BAE8E8;
    margin: 0;
    padding: 0;
    font-size: large;
}

#header ul {
    margin-right: 3%;
}

#header a {
    color: #272343;
}

/* #header a {
    background-color: #f7f3f2;
    border-radius: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
} */

/* hero section */

#hero {
    background-color: #BAE8E8;
    padding: 0 10%;
}

/* yellow buttons */
#hero button,
#cards button {
    background-color: #FCE79C;
    border-radius: 5%;
    width: 40%;
    -webkit-box-shadow: 5px 5px 15px 5px #fdf1c4;
    box-shadow: 2px 2px 10px 2px #FEEFEC;
}

/* card Section */

.card {
    background-color: #FEEFEC;
    padding: 20px;
    /* border-radius: 0; */
    /* margin: 100px auto; */
}

.card-orange{
    background-color: #FEEFEC;
    padding: 20px;
    /* border-radius: 0; */
    /* margin: 100px auto; */
}

#cards button {
    margin-left: 30%;

}

.card-img-top {
    width: 70%;
    margin: 0 auto;
}

#carousel {
    background-color: #FEEFEC;
    height: 300px;
    margin-bottom: 10%;
}

#carousel p {
    font-size: 5rem;
}

#footer {
    background-color: #BAE8E8;
}

.footer-text {
    color: #272343;
}

/* Hamburger dropdown nav  */
.navbar-toggler {
    margin-right: 5px;
}

#navbarSupportedContent {
    padding-left: 20px;
}

nav div ul li a {
    position: relative;
    z-index: 1;
}

nav div ul li a:hover {
    color: #FCE79C
}

nav div ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: "";
    color: transparent;
    background: #FCE79C;
    visibility: none;
    opacity: 0;
    z-index: -1
}

nav div ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%
}

/* Image styling */
.home-page-image {
    border-radius: 20px;
    width: 500px;
    max-width: 100%;
    
}

/* Makes footer stick to bottom of page at all times */
.header {
    min-height: 50px;
}

footer {
    margin-top: auto;
    background-color: #BAE8E8;
}

/* Grow on hover animation */
.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
    color: #272343;
}

.home-cards-a {
    color: #272343;
}

.home-cards-a:hover {
    color: #272343;
}

/* Team logo on about us page  */

.team-logo {
    margin: 0 auto;
}