@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #272343;
}



/* header */

#header {
    background-color: #BAE8E8;
    margin: 0;
    padding: 0;
}

#header ul {
    margin-right: 3%;
}

#header a {
    color: #272343;
}

/* #header a {
    background-color: #FFD803;
    border-radius: 5%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
} */

/* hero section */

#hero {
    background-color: #BAE8E8;
    padding: 0 10%;
}

/* yellow buttons */
#hero button,
#cards button {
    background-color: #FFD803;
    border-radius: 5%;
    width: 40%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

/* card Section */

.card {
    background-color: #EDC7F6;
    padding: 20px;
    /* border-radius: 0; */
    margin: 100px auto;
}

#cards button {
    margin-left: 30%;

}

#cards h2 {
    margin: 70px 24%;
}

#carousel {
    background-color: #EDC7F6;
    height: 300px;
    margin-bottom: 10%;
}

#carousel p {
    font-size: 5rem;
}

#footer {
    background-color: #BAE8E8;
    color: #272343;
}