{% extends 'base.html' %}

{% block content %}

<!-- hero -->
<div class="container-fluid" id="hero">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
            <img src="/static/images/logo-kodefox.png" class="team-logo d-block mx-lg-auto img-fluid rounded"
                alt="Bootstrap Themes" width="300" height="300" loading="lazy">
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">The Team</h1>
            <p class="lead">KodeFox consists of five very passionate developers who strive for continuous improvement
                and development.</p><br>
            <p class="lead">Adapting to the ever changing climate and overcoming any challenge that presents itself!</p>
        </div>
    </div>
</div>
<!-- resonsive image -->
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12">
            <img src="https://images.pexels.com/photos/290595/pexels-photo-290595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="placeholder 960" class="img-responsive w-100" />
        </div>
    </div>
</div>
<!-- Team Member Cards -->
<section class="container-fluid mt-5" id="cards">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
            <h2 class="fs-2 mb-5">The KodeFox Team</h2>
        </div>
        <div class="col-12 justify-content-center col-lg-4 d-flex text-center">
            <div class="card-mint shadow p-3 mb-5 rounded" style="width: 18rem;">
                <img class="card-img-top w-100" src="https://avatars.githubusercontent.com/u/38543181?v=4"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Andrew Dempsey</h5>
                    <a href="https://github.com/andrewdempsey2018" target="_blank" class="btn btn-secondary">GitHub</a>
                    <a href="#" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col-12 justify-content-center col-lg-4 d-flex text-center">
            <div class="card-mint shadow p-3 mb-5 rounded" style="width: 18rem;">
                <img class="card-img-top w-100" src="../static/images/jamie.png"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Jamie Tarpey</h5>
                    <a href="https://github.com/JamieT966" target="_blank" class="btn btn-secondary">GitHub</a>
                    <a href="#" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col-12 justify-content-center col-lg-4 d-flex text-center">
            <div class="card-mint shadow p-3 mb-5 rounded" style="width: 18rem;">
                <img class="card-img-top w-100" src="https://avatars.githubusercontent.com/u/70175734?v=4"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dieketseng Lebuli</h5>
                    <a href="https://github.com/Cy-2-30" target="_blank" class="btn btn-secondary">GitHub</a>
                    <a href="#" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col-12 justify-content-center col-lg-4 d-flex text-center">
            <div class="card-mint shadow p-3 mb-5 rounded" style="width: 18rem;">
                <img class="card-img-top w-100" src="../static/images/martin.png"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Marin McInerney</h5>
                    <a href="https://github.com/martin-mcinerney" target="_blank" class="btn btn-secondary">GitHub</a>
                    <a href="#" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col-12 justify-content-center col-lg-4 d-flex text-center">
            <div class="card-mint shadow p-3 mb-5 rounded" style="width: 18rem;">
                <img class="card-img-top w-100" src="https://avatars.githubusercontent.com/u/97119828?v=4"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Arron Beale</h5>
                    <a href="https://github.com/ArronBeale" target="_blank" class="btn btn-secondary">GitHub</a>
                    <a href="https://www.linkedin.com/in/arronbeale/" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}