<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Providing advice to women looking to take the leap into the tech industry">
    <meta name="keywords" content="women, tech, women in tech, gender gap">
    <!-- fontawesome icons -->
    <script src="https://kit.fontawesome.com/4c414eafd1.js" crossorigin="anonymous"></script>
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
    <title>WITCH - Empowering women in Tech</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">

</head>

<body>
    <!-- header -->
    <div id="header">
        <nav class="navbar navbar-expand-sm">
            <!-- Logo -->
            <a href="{% url 'index' %}">
                <img src="../static/images/logo.png" class="float-start logo" alt="WITCH logo">
            </a>
            <!-- Taken from Bootstrap module -->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                aria-label="Hamburger menu button, opens the nav bar on smaller devices"
                data-bs-target="#navbarSupportedContent">

                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'career' %}">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'education' %}">Education</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'stories' %}" class="nav-link">Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Admin</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock %}


    <!-- footer -->
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" aria-label="spacer">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <!-- Copyright -->
            <span class="footer-text"> 2022 WITCH - For educational purposes</span>

        </div>
        <!-- Social icons -->
        <div class="col-12 col-md-4"></div>
        <ul class="nav col-12 col-md-4 justify-content-center list-unstyled d-flex">
            <li class="ms-3">
                <a class="footer-text" href="http://www.twitter.com" target="_blank" aria-label="Twitter link">
                    <i class="fa-brands fa-twitter fs-4 grow"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="footer-text" href="http://www.instagram.com" target="_blank" aria-label="Instagram link">
                    <i class="fa-brands fa-instagram fs-4 grow"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="footer-text" href="http://www.facebook.com" target="_blank" aria-label="Facebook link">
                    <i class="fa-brands fa-facebook-f fs-4 grow"></i></a>
            </li>
            <li class="ms-3">
                <a class="footer-text" href="http://www.linkedin.com" target="_blank" aria-label="LinkedIn link">
                    <i class="fa-brands fa-linkedin-in fs-4 grow"></i>
                </a><i>
        </ul>
    </footer>
    <!-- Link to Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
</body>

</html>