{% extends 'base.html' %}

{% block content %}

<!-- hero -->
<div class="container-fluid" id="hero">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/380283/pexels-photo-380283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="d-block mx-lg-auto img-fluid rounded" style="max-width: 80% " alt="Bootstrap Themes" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Career Paths</h1>
            <p class="lead">The list of opportunities and careers is vast but here is a selection of the most popular
                career paths available
                in the Tech Industry.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row align-items-center">
        <!-- Demand information -->
        <div class="col-md-6 card-orange shadow p-3 mt-5 rounded">
            <h3>Demand</h3>
            <p>Globally the tech industry is thriving and employers are constantly seeking new talent as business needs
                to scale up their operations to meet the
                demand of consumers, customers and clients.
            </p><br>
            <em><strong>
                    <p>In the age of Big Tech, some even say that data is now more valuable than gold!</p>
                </strong></em><br>
            <p>With the gloabal demand comes oppertunity for those who are willing to take the plung and venture forth
                to
                a career in the Tech Industry.
            </p>
        </div>
        <div class="col-md-6 mt-5">
            <img src="https://images.pexels.com/photos/3756773/pexels-photo-3756773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="img-fluid rounded shadow" alt="Responsive image">
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row align-items-center">
        <!-- Benefits information -->
        <div class="col-md-6 card-orange shadow p-3 mt-5 rounded">
            <h3>The Benefits</h3>
            <ul>
                <li>Work Flexibility</li>
                <li>Work-Life Balance</li>
                <li>Decent Working Environment</li>
                <li>Career Growth and Development</li>
                <li>Earning potential</li>
                <li>Hiring demand</li>
                <li>Remote work potential</li>
            </ul>
        </div>
        <div class="col-md-6 mt-5">
            <img src="https://images.pexels.com/photos/745045/pexels-photo-745045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="img-fluid rounded shadow" alt="Responsive image">
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <h3>The opportunities are endless!</h3>
    <p>Are you ready for a career? One of these jobs in tech could be JUST what you are after.</p>
</div>
<!-- cards -->
<section class="container-fluid mt-5" id="cards">
    <div class="row">
        <div class="col-sm-4 pb-5">
            <div class="card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/4050350/pexels-photo-4050350.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="Career">
                <div class="card-body">
                    <h4 class="card-title">Data Analyst</h4>
                    <p class="card-text">Data analysts collect, organise and interpret statistical information to help
                        colleagues and clients use it make decisions. Data analysts gather and scrutinise data using
                        specialist tools to generate information that helps others make decisions.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-5">
            <div class="card careers-card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/3861958/pexels-photo-3861958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Software Engineer</h4>
                    <p class="card-text">Software engineers focus on applying the principles of engineering to software
                        development. Their role includes analyzing and modifying existing software as well as designing,
                        constructing and testing end-user applications that meet user needs — all through software
                        programming languages.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-5">
            <div class="card careers-card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/5380668/pexels-photo-5380668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Cyber Security Specialist</h4>
                    <p class="card-text">Cyber Security Specialists are responsible for discovering vulnerabilities and
                        risks in networks, software systems and data centers with ongoing vulnerability scans,
                        monitoring network data, and ensuring hardware and software applications are updated.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-5">
            <div class="card careers-card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/4050294/pexels-photo-4050294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Data Scientist</h4>
                    <p class="card-text">Data scientists help businesses solve problems through the processing of data.
                        So what does that mean? A software engineer will implement some logging somewhere on a website
                        or mobile app. This gets processed and eventually gets to the data scientists. The data
                        scientists will then gather all these data points and derive insights from them.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-5">
            <div class="card careers-card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/1181335/pexels-photo-1181335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Database Manager</h4>
                    <p class="card-text">Database managers develop and maintain organizations' databases. They create
                        data storage and retrieval systems, troubleshoot database issues, and implement database
                        recovery procedures and safety protocols. They also supervise the daily activities of database
                        teams.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-5">
            <div class="card careers-card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/7681494/pexels-photo-7681494.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Chaos Engineer</h4>
                    <p class="card-text">Chaos engineering is a method of testing distributed software that deliberately
                        introduces failure and faulty scenarios to verify its resilience in the face of random
                        disruptions. These disruptions can cause applications to respond in unpredictable ways and can
                        break under pressure.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-5">
            <div class="card careers-card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/7858743/pexels-photo-7858743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">UX designer</h4>
                    <p class="card-text">UX designers turn applications into something that people like and want to use.
                        UX (user experience) designers measure and optimise applications (usually web based) to improve
                        ease of use (usability), and create the best user experience by exploring many different
                        approaches to solve end-users' problems.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-5">
            <div class="card careers-card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/6084474/pexels-photo-6084474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">UI Designer</h4>
                    <p class="card-text">A User Interface (UI) Designer is a professional who works closely with a User
                        Experience (UX) designer to create and implement a user interface that is intuitive but also has
                        the right look and feel required in the product design.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pb-5">
            <div class="card careers-card shadow p-3 mb-5 rounded h-100">
                <img src="https://images.pexels.com/photos/1181354/pexels-photo-1181354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Cloud Computing Specialist</h4>
                    <p class="card-text">Simply put, cloud computing is the delivery of computing services—including
                        servers, storage, databases, networking, software, analytics, and intelligence—over the Internet
                        (“the cloud”) to offer faster innovation, flexible resources, and economies of scale.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}