{% extends 'base.html' %}

{% block content %}
<!-- hero -->

<div class="container-fluid" id="hero">
    <div class="row flex-md-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-md-6">
            <img src="https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="d-block mx-lg-auto home-page-image" alt="Bootstrap Themes" loading="lazy">
        </div>
        <div class="col-12 col-md-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Empowering Women to Work in Tech</h1>
            <p class="lead">We are here to support women in their entry to the tech industry with focus on
                education, community and support.</p>

            <div class="d-none d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-lg px-4 me-md-2 grow"><a href="{% url 'stories' %}" class="text-decoration-none home-cards-a" alt="A link to blog your story" target="_blank">Read more</a></button>
            </div>
            <div class="d-flex d-md-none justify-content-center">
                <button type="button" class="btn btn-lg px-4 me-md-2 grow"><a href="{% url 'stories' %}" class="text-decoration-none home-cards-a" alt="A link to blog your story" target="_blank">Read more</a></button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- cards -->
<section class="container" id="cards">
    <div class="row d-flex my-5 justify-content-center">
        <div class="col-10 col-md-4 mt-4 grow">
            <a href="{% url 'education' %}" class="text-decoration-none home-cards-a">
                <div class="card">
                    <img src="static/images/mortarboard.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Education</h2>
                        <p class="card-text">Boost your employability with our educational.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-md-4 mt-4 grow">
            <a href="{% url 'career' %}" class="text-decoration-none home-cards-a">
                <div class="card">
                    <img src="static/images/career.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h2 class="card-title">Careers</h2>
                        <p class="card-text">Boost your career with our tailored careers resources.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-md-4 mt-4 grow">
            <a href="{% url 'stories' %}" class="text-decoration-none home-cards-a">
                <div class="card">
                    <img src="static/images/fairytale.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title">Stories</h2>
                        <p class="card-text">Find inspiration in the stories of women in tech.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </div>

    <h3>Featured Tweets #gendergap</h3>

    <!-- this is the twitter feed  -->
    <div id="twitter-feed">
        <script async src="https://walls.io/js/wallsio-widget-1.2.js"
            data-wallurl="https://my.walls.io/x6zrf?nobackground=1&amp;show_header=0" data-title="My social wall"
            data-width="100%" data-autoheight="1" data-height="800" data-lazyload="1"></script>
        <!-- the twitter feed end -->
    </div>
</section>

{% endblock %}