{% extends 'base.html' %}

{% block content %}
<!-- hero -->

<div class="container-fluid" id="hero">
    <div class="row flex-md-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-md-6">
            <img src="https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-12 col-md-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Empowering women to work in Tech.</h1>
            <p class="lead">We are here to support women in their entry to the tech industry with focus on
                education, community and support.</p>

            <div class="d-none d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-lg px-4 me-md-2">Read more</button>
            </div>
            <div class="d-flex d-md-none justify-content-center">
                <button type="button" class="btn btn-lg px-4 me-md-2">Read more</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- cards -->
<section class="container" id="cards">
    <div class="row d-flex my-5 justify-content-center">
        <div class="col-10 col-md-4 mt-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/3756679/pexels-photo-3756679.jpeg?auto=compress&cs=tinysrgb&w=1600"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-4 mt-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/6457579/pexels-photo-6457579.jpeg?auto=compress&cs=tinysrgb&w=1600"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-4 mt-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/6457515/pexels-photo-6457515.jpeg?auto=compress&cs=tinysrgb&w=1600"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container my-5">
        <button type="button" class="btn btn-lg px-4 me-md-2">Find out more</button>
    </div>

    <h2>Featured Tweets #gendergap</h2>

    <!-- this is the twitter feed  -->
    <div id="twitter-feed">
        <script async src="https://walls.io/js/wallsio-widget-1.2.js"
            data-wallurl="https://my.walls.io/x6zrf?nobackground=1&amp;show_header=0" data-title="My social wall"
            data-width="100%" data-autoheight="1" data-height="800" data-lazyload="1"></script>
        <!-- the twitter feed end -->
    </div>
</section>

{% endblock %}