{% extends 'base.html' %}

{% block content %}

<!-- hero -->
<div class="container-fluid" id="hero">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=600"
                class="d-block mx-lg-auto img-fluid rounded" style="max-width: 80% " alt="Bootstrap Themes" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Share your inspiring stories</h1>
            <p class="lead">Share your story about your experiences in the Tech Industry.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-12 p-5">
                        <form action="/newpost/" method="post">
                            {% csrf_token %}
                                <label for="{{ form.author.id_for_label }}">Your name</label>
    <div>{{ form.author }}</div>
    <label for="{{ form.text.id_for_label }}">Your story</label>
    <div>{{ form.text }}</div>
    <label for="{{ form.link.id_for_label }}">Share your Linkedin page to INSPIRE!</label>
    <div>{{ form.link }}</div>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}