{% extends 'base.html' %}

{% block content %}
<h1>Share your inspiring stories</h1>

<form action="/newpost/" method="post">
    {% csrf_token %}
    <label for="{{ form.author.id_for_label }}">Your name</label>
    <div>{{ form.author }}</div>
    <label for="{{ form.text.id_for_label }}">Your story</label>
    <div>{{ form.text }}</div>
    <label for="{{ form.link.id_for_label }}">Share your Linkedin page to INSPIRE!</label>
    <div>{{ form.link }}</div>
    
    <input type="submit" value="Submit">
</form>
{% endblock %}