{% extends 'base.html' %}

{% block content %}

<!-- hero -->
<div class="container-fluid" id="hero">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/3756774/pexels-photo-3756774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="d-block mx-lg-auto img-fluid rounded" style="max-width: 80% " alt="Bootstrap Themes" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">These are our stories!</h1>
            <p class="lead">Here are some stories from Women in Tech.</p>
            <a href="{% url 'newstory' %}">share your story</a>
        </div>
    </div>
</div>
<!-- cards -->
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <div class="card-body bg-light">
                {% for story in stories %}
                <div class="card shadow p-3 mb-5 rounded h-90">
                    <div class="card-body">
                        <h5 class="card-title">{{story.author}}</h5>
                        <p class="card-text">{{story.text}}</p>
                        <a class="text-muted" href="{{story.link}}">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a><i>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}